<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Explore some of my recent Projects on Github.
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail6.jpg" alt="Portfoloio">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">AWS</span>
                            <span class="project-tag">HTML/CSS</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Portfolio Uisng Java, SpringBoot, HTML,Thymleaf, MySQL</h3>
                        <p class="project-description">
                            In this course, you will learn how to create production grade REST API that connects to the MySQL database through JPA/Hibernate
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravikasyap97/Portfolio.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail1.jpg" alt="Ambulance Navigation System">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">PostgreSQL</span>
                            <span class="project-tag">SwaggerOpenAPI</span>
                            <span class="project-tag">HTML</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">CoursePlatformap API Using Java, SpringBoot, Swagger api, PosgreSQL</h3>
                        <p class="project-description">
                            The Course Platform API is a backend service for a learning platform.
                            The main focus is backend design, business logic, search functionality, and JWT-based authentication. No frontend UI is implemented.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravikasyap97/courseplatform.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail2.jpg" alt="Ener Tracker">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Java</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">Eclipse</span>
                            n>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Chiacon AI Solutions</h3>
                        <p class="project-description">
                            Chiacon AI Email Generator is a web-based application that automatically generates professional emails using Artificial Intelligence. 
                            Users simply enter a prompt describing the email they want, and the system generates a structured email using the OpenAI API.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/ravikasyap97/Chiacon-AI-Solutions.git" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</th:block>
</html>